= resource_form(@blog_entry) do |f|
  = record_name(@blog_entry.title, 'file-text', :when_blank => 'New Entry')

  = form_errors(@blog_entry)

  = content do
    = f.fieldset(:class => 'primary') do
      = f.input(:title)
      = f.input(:body, :as => 'text')
      = f.input(:tag_summary, :label => 'Tags')

    - f.metadata do |attrs|
      = f.fieldset('Attributes', :class => 'attributes') do
        - attrs.each do |name, opts|
          = f.metadata_input(name, opts)

    = f.fieldset do
      = f.input(:published)
      = f.input(:author_id, :collection => @users)
      = f.input(:asset_ids, :collection => @assets, :as => 'multi_asset', :label => 'Images and Documents')

  = footer do
    = save_button
    = cancel_button(@blog_entry)
