- breadcrumb('Blog', :blog)
- breadcrumb('Entries', :blog_entries)
- breadcrumb(@blog_entry.title)

- if @blog_entry.published?
  - status('Status', 'Published', :mode => :ok)
  - status('On', @blog_entry.published_at, :mode => 'ok time')
- else
  - status('Status', 'Unpublished')

- if @blog_entry.comments.count == 0
  - status('Comments', "No comments")
- else
  - status('Comments', @blog_entry.comments.count)

= record_name(@blog_entry.title, 'file-text')

= content(:class => 'inset') do
  = column(8) do
    %h3 Body
    %div.body
      = render_markdown(@blog_entry.body, 4, false)

    %h3 Assets (images, etc.)

    %ul.assets
      - @blog_entry.images.each do |image|
        %li.asset-preview
          %div.frame= image_tag(image.previews.url(:thumb_medium))

  = column(4, :class => 'last') do
    %h3 Comments
    - if @blog_entry.comments.blank?
      %p.note No comments yet
    - else
      %ul.comments
        - @blog_entry.comments.each do |comment|
          %li
            %h4
              = comment.name
              \/
              = comment.email
            = link_to('Delete', path(:delete, comment), :class => 'button delete')
            = simple_format(sanitize(comment.body))
            %p
              Added on
              %span.time= comment.updated_at

= footer do
  = edit_button(@blog_entry)
  = delete_button(@blog_entry)
