= content(:class => 'inset') do
  %h3 Tags

  %ul#tag-cloud
    - @blog_tags.each do |tag|
      %li
        = link_to(tag.name, path(tag))

  = column(6) do
    %h3 Latest Entries

    - if @blog_entries.empty?
      %p No Entries
    - else
      %ul.latest-entries
        - @blog_entries.each do |entry|
          %li
            %a{href: path(entry), class: "published-#{entry.published}"}
              %h4
                %strong= entry.title
                By #{entry.author_name} / Updated
                %span.time= entry.updated_at
                by #{entry.updater_name}

            %p.tags
            - unless entry.tags_summary.blank?
              - entry.tags_summary.split(', ').each do |tag|
                %span.tag= tag

            %p.comments
              %span.indicator.neutral= entry.comments_count
              %span.key Comments

  = column(6) do
    %h3 Latest Comments
    - if @comments.empty?
      %p No Comments
    - else
      %ul.latest-entries
        - @comments.each do |comment|
          %li
            %a{href: path(:blog_entry, :id => comment.blog_entry_id)}
              %h4
                %strong
                  = comment.name
                  on
                  = comment.blog_entry_title
                Added on
                %span.time= comment.updated_at



